<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/login/style.css">
</head>
<body>

<div class="main-box">

    <img src="../static/login/user.png" class="avatar" alt="avatar">

    <h1>Login Here</h1>

     {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <form method="post" action="/auth">
        <label for="two_factor_code">Enter Two-Factor Code:</label>
        <input type="text" id="two_factor_code" name="two_factor_code" required><br>
        <button type="submit">Verify</button>
    </form>

</div>

</body>
</html>
