<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Export Data</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Add any additional styling as needed */
        /* Style the links */
        a {
            color: #007BFF;
            text-decoration: none;
            transition: color 0.3s;
        }

        a:hover {
            color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Files:</h2>
        <ul>
            {% for file in files %}
                <li>
                    <a href="{{ url_for('download_file_data', filename=file) }}" download="{{ file }}">{{ file }}</a>
                </li>
            {% endfor %}
        </ul>

        <h2>Folders:</h2>
        <ul>
            {% for folder in folders %}
                <li>
                    <a href="{{ url_for('download_folder_data', foldername=folder) }}">{{ folder }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Include Bootstrap JS and jQuery (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
